.projects-gallery-container{
    width: 100%;
    background-color: #2D2D2D;


}

.projects-gallery-content{
    max-width: 1300px;
    height: 330px;
    background-color: #242424;
}

.projects-heading{
    text-transform: uppercase;
    color: white;
    padding: 75px 150px;
}

.projects-heading h1{
    font-family: 'Bungee Outline', cursive;
    font-size: 72px;
    line-height: 80px;

}

.projects-heading p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.project-photos{
    max-width: 1700px;

    margin: 30px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;

    gap: 30px;

}

.project-photos-wrapper{
    width: 100%;
}

.button-wrapper{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

}


@media screen and (max-width: 780px){
    .projects-heading{
        padding: 30px
    }

    .projects-heading h1{
        font-size: 30px;
        line-height: 40px;

    }

    .projects-heading p{
        font-size: 10px;
    }
    .object-img{
        max-height: 300px;
        max-width: 300px;
    }

    .project-photos{
        display: flex;
        justify-content: center;
    }
}
