
.partners-wrapper{
    margin-top: 115px;
    margin-bottom: 120px;
}

.partners-heading{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.partners-heading h1{
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.partners-content{
    margin: 0 auto;
    max-width: 1602px;
}

.partner-logo{
    width: 220px;
    height: 150px;
}

.partners-list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.partners{
    border: 1px solid #e5e5e5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners h3{
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-top: 25px;
}


@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .partners-content{
        margin-left: 90px;
        margin-right: 90px;
    }

}