.footer-wrapper{
    /*margin-top: 120px;*/
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #242424;
    min-height: 250px;
    display: flex;
    align-items: center;
}


.fast-links-list{
    list-style: none;
}

.footer-content{
    width: 1602px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 150px;
    height: 40px;

}

.fast-links-list li{
    padding: 7px;

}

.short-info li{
    padding: 7px;
    font-size: 18px;
    color: white;
    list-style: none;
}


.fast-links-list li {
    /*display: inline-block;*/
    position: relative;
}

.fast-links-list li:after {

    background-color: #EDB820;
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    /*background-color: #0087ca;*/
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.fast-links-list li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media screen and (max-width: 780px){
    .footer-content{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .logo{
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .footer-content{
        margin-left: 90px;
        margin-right: 90px;
    }

}

@media screen and (max-width: 780px){
    .footer-content{
        padding-left: 15px;
        padding-right: 15px;
    }
}