#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 800px;
}



.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-info-wrapper{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.slider-text1{
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    font-size: 25px;
    color: #EDB820;
    textAlign: center
}

.slider-text2{
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    letter-spacing: 1px;
    textAlign: center
}

.slider-btn{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;


    color: white;



    textAlign: center
}

.slider-btn-wrapper{
    display: flex;
    align-items: center;
    margin-top: 35px;
    max-width: 153px;
    max-height: 46px;
    border-radius: 3px;
    padding: 14px 25px 14px 25px;
    background-color: #EDB820;
}


@media screen and (max-width: 769px){
    .swiper{
        height: 255px;
    }

    .slider-text1{
        font-size: 8px;
    }

    .slider-text2{
        font-size: 18px;
    }

    .slider-btn{
        font-size: 8px;
    }

    .slider-btn-wrapper{
        margin-top: 35px;
        max-width: 120px;
        max-height: 30px;
        border-radius: 3px;
        padding: 9px 15px 9px 15px;
        background-color: #EDB820;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

}